@model IMSWebApp.Models.TankLog

@{
    ViewData["Title"] = "Tank Logs Registry";
}

<!-- Create style that is similiar to Create/Edit Menu -->
<style>
    dt {
        padding-top: 12px;
        padding-bottom: 8px;
    }

    dd {
        border-radius: 5px;
        border: 1px solid #bbb;
        border-top: 2px solid #ddd;
        padding: 6px 0px 7px 10px;
    }
</style>

<!-- Create a panel to hold all elements in the page -->
<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h2>
            <span class='glyphicon glyphicon-trash' style="color:#d9534f"></span>
            &nbsp;@ViewData["Title"]
        </h2>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.PeriodFkNavigation)
                </dt>
                <dd>
                    @*Html.DisplayFor(model => model.PeriodFkNavigation.IdPk)*@
                    @* 
                        Merge two data in @Html.DisplayFor in ASP.Net MVC
                        https://stackoverflow.com/questions/42809731/merge-two-data-in-html-displayfor-in-asp-net-mvc    
                    *@
                    @{ 
                        var text = Model.PeriodFkNavigation.StartDate.ToString("yyyy-MM-dd") +
                                    " " + Model.PeriodFkNavigation.Text;
                        @Html.DisplayFor(model => text)
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TankFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TankFkNavigation.IdCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesFkNavigation.Scientific)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesText)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesText)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesText2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesText2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SizeFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SizeFkNavigation.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Qty)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Qty)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>
@*
                <dt>
                    @Html.DisplayNameFor(model => model.OrderFk)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderFk)
                </dd>    

*@


                <dt>
                    @Html.DisplayNameFor(model => model.StuffFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StuffFkNavigation.IdCode)
                </dd>

            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdPk" />
                <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
                
            </form>
        </div>

    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
        <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Back to List</a>
    </div>
</div>

