@model IMSWebApp.Models.TankLog

@{
    ViewData["Title"] = "Delete";
}

<!-- Create style that is similiar to Create/Edit Menu -->
<style>
    dt {
        padding-top: 12px;
        padding-bottom: 8px;
    }

    dd {
        border-radius: 5px;
        border: 1px solid #bbb;
        border-top: 3px solid #ddd;
        padding: 5px 0px 5px 10px;
    }
</style>

<!-- Create a panel to hold all elements in the page -->
<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">

    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.PeriodFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PeriodFkNavigation.IdPk)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TankFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TankFkNavigation.IdCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesFkNavigation.Scientific)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesText)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesText)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesText2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SpeciesText2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SizeFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SizeFkNavigation.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Qty)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Qty)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>
@*
                <dt>
                    @Html.DisplayNameFor(model => model.OrderFk)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderFk)
                </dd>    

*@


                <dt>
                    @Html.DisplayNameFor(model => model.StuffFkNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StuffFkNavigation.IdCode)
                </dd>

            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdPk" />
                <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
                
            </form>
        </div>

    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
        <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Back to List</a>
    </div>
</div>

