@model IMSWebApp.Models.DataModel.SPECIES

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SPECIES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SCIENTIFIC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCIENTIFIC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMMON)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COMMON)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_PK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
