@model IMSWebApp.Models.MovementPeriod

@{
    ViewData["Title"] = "Quarantine Period";
}

<!-- Create style that is similiar to Create/Edit Menu -->
<style>
    dt {
        padding-top: 12px;
        padding-bottom: 8px;
    }

    dd {
        border-radius: 5px;
        border: 1px solid #bbb;
        border-top: 2px solid #ddd;
        padding: 6px 0px 7px 10px;
    }
</style>

<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h2>
            <span class='glyphicon glyphicon-trash' style="color:#d9534f"></span>
            &nbsp;@ViewData["Title"]
        </h2>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ClosedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClosedDate)
                </dd>    

                <dt>
                    @Html.DisplayNameFor(model => model.ClosedFlag)
                </dt>
                <dd style="border-style:none;text-align:center">
                    @Html.DisplayFor(model => model.ClosedFlag)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdPk" />
                <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
            </form>
        </div>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
        <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Back to List</a>
    </div>
</div>


